@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #007aff; /* Apple blue */
  --secondary-color: #ff9500; /* Apple orange */
  --background-color: #f8f9fa; /* Light gray background */
  --text-color: #333333; /* Dark text color */
  --light-text-color: #6b7280; /* Light gray text color */
  --white: #ffffff; /* White color */
  --card-background: #ffffff; /* Card background color */
  --card-shadow: rgba(0, 0, 0, 0.1); /* Card shadow color */
  --nav-background: rgba(223, 221, 221, 0.947); /* light background for navbar */


  --light-gradient: radial-gradient(at 96.49283077073736% 42.87202481763821%, hsla(211.03448275862067, 56.862745098039284%, 90%, 1) 0%, hsla(211.03448275862067, 56.862745098039284%, 90%, 0) 100%), radial-gradient(at 21.072147853117418% 8.332825325753301%, hsla(251.99999999999994, 38.46153846153849%, 94.90196078431372%, 1) 0%, hsla(251.99999999999994, 38.46153846153849%, 94.90196078431372%, 0) 100%), radial-gradient(at 78.47940016751653% 87.55551599150111%, hsla(211.03448275862067, 56.862745098039284%, 90%, 1) 0%, hsla(211.03448275862067, 56.862745098039284%, 90%, 0) 100%), radial-gradient(at 66.39976667942473% 94.72660681024504%, hsla(251.99999999999994, 38.46153846153849%, 94.90196078431372%, 1) 0%, hsla(251.99999999999994, 38.46153846153849%, 94.90196078431372%, 0) 100%);            ;
  
    --dark-gradient: radial-gradient(at 24.182683184015975% 87.84145538818858%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 53.317331315594885% 51.05598127622819%, hsla(180, 32.00000000000001%, 70.58823529411765%, 1) 0%, hsla(180, 32.00000000000001%, 70.58823529411765%, 0) 100%), radial-gradient(at 45.13970978683963% 80.279989217324%, hsla(167.99999999999997, 17.857142857142865%, 43.92156862745098%, 1) 0%, hsla(167.99999999999997, 17.857142857142865%, 43.92156862745098%, 0) 100%), radial-gradient(at 67.2432457735036% 85.68203355586652%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 29.208298789205834% 64.9450943700276%, hsla(180, 32.00000000000001%, 70.58823529411765%, 1) 0%, hsla(180, 32.00000000000001%, 70.58823529411765%, 0) 100%), radial-gradient(at 90.8048422852741% 45.22702281854205%, hsla(167.99999999999997, 17.857142857142865%, 43.92156862745098%, 1) 0%, hsla(167.99999999999997, 17.857142857142865%, 43.92156862745098%, 0) 100%), radial-gradient(at 32.88250044865868% 88.06380896124169%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 55.34842137687335% 78.87859660797854%, hsla(180, 32.00000000000001%, 70.58823529411765%, 1) 0%, hsla(180, 32.00000000000001%, 70.58823529411765%, 0) 100%), radial-gradient(at 24.246204240042847% 70.95320191187552%, hsla(167.99999999999997, 17.857142857142865%, 43.92156862745098%, 1) 0%, hsla(167.99999999999997, 17.857142857142865%, 43.92156862745098%, 0) 100%), radial-gradient(at 70.84764293741219% 63.14286712264692%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%);            
    
--card-gradient : var(--light-gradient);

   
}

[data-theme="dark"] {
  --background-color: #1a1a1a; /* Dark background */
  --text-color: #f8f9fa; /* Light text color */
  --light-text-color: #b0b0b0; /* Light gray text color */
  --card-background: #333333; /* Dark card background */
  --card-shadow: rgba(0, 0, 0, 0.5); /* Dark card shadow */
  --nav-background: rgba(0, 0, 0, 0.8); /* Dark background for navbar */
 
  --card-gradient : var(--dark-gradient);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.theme-toggle-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
  font-size: 1.5rem; /* Adjust icon size */
}

.theme-toggle-button:hover {
  background-color: var(--secondary-color);
}

/* About Me Section */
.about-me-wrapper {
  padding: 4rem 2rem;
  background-color: var(--card-background);
  color: var(--text-color);
}

.about-me-photo img {
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--card-shadow);
}

.about-me-text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-me-text p {
  font-size: 1.125rem;
  line-height: 1.6;
}

/* Skills Section */
.skills-wrapper {
  padding: 4rem 2rem;
  background-color: var(--background-color);
  text-align: center;
}

.skills-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.skills-container {
  display: flex;
  overflow-x: auto;
  padding: 1rem 0;
  gap: 1rem;
}

.skill-card {
  flex: 0 0 auto;
  width: 120px;
  padding: 1rem;
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--card-shadow);
  text-align: center;
  transition: transform 0.3s ease;
}
